/**
 * `input[type="search"]`
 */

@define-mixin module-input-search {
  /* `:not()` for specificity, so padding needs no `!important` */
  input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]) {
    &[type="search"] {
      padding-inline-start: calc(
        var(--v-form-element-spacing-horizontal) + 1.75rem
      );
      background-image: var(--v-icon-search);
      background-position: center left
        calc(var(--v-form-element-spacing-horizontal) + 0.125rem);
      background-size: 1rem auto;
      background-repeat: no-repeat;

      &[aria-invalid] {
        padding-inline-start: calc(
          var(--v-form-element-spacing-horizontal) + 1.75rem
        ) !important;
        background-position:
          center left 1.125rem,
          center right 0.75rem;
      }

      &[aria-invalid="false"] {
        background-image: var(--v-icon-search), var(--v-icon-valid);
      }

      &[aria-invalid="true"] {
        background-image: var(--v-icon-search), var(--v-icon-invalid);
      }
    }
  }

  [dir="rtl"] {
    :where(input) {
      &:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]) {
        &[type="search"] {
          background-position: center right 1.125rem;

          &[aria-invalid] {
            background-position:
              center right 1.125rem,
              center left 0.75rem;
          }
        }
      }
    }
  }
}
